html,
body {
  margin: 0;
  padding: 0;
}
.wraper {
  border-radius: 0%;
  border: 0px;
  padding: 0%;
}
ul {
  border: 0px;
  padding: 0px;
}
.menu {
  position: fixed;
  background-color: #c0c0c0;
  width: 200px; /* Largura da barra lateral */
  overflow-y: auto; /* Adiciona uma barra de rolagem vertical se o conteúdo exceder a altura da barra lateral */
  height: 100vh; /* Define a altura da barra lateral para 100% da altura da janela*/
  border: 0px;
  padding: 0px;
  border-radius: 0px;
  display: flex;
  justify-content: center; /* Alinha os itens horizontalmente */
  align-items: center; /* Alinha os itens verticalmente */
}

.menu ul {
  list-style: none;
  padding: 0;
}

.menu li {
  margin-bottom: 10px; /* Espaçamento entre os itens; ajuste conforme necessário */
  font-size: 14px;
  margin-left: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-decoration: none;
}
.menu a {
  text-decoration: none;
  color: black;
}

.menu a:hover {
  background-color: orange;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;

  width: 100%;
  height: 100px; /* Altura desejada para o cabeçalho */
  background-color: #333;
  color: #fff;
  padding: 10px;
}

.header img {
  max-width: 100%; /* Ajusta a largura da imagem conforme a div pai */
  height: auto; /* Mantém a proporção da imagem */
}

.conteudo {
  position: fixed;
  top: 120px;
  left: 200px;
  height: 1000px;
  max-width: 1200px;
  background-color: white;
  
}

.conteudo h1 {
  font-size: 60px;
  font-family: cursive;
  margin-left: 100px;
  margin-top: 100px;
}

.conteudo h2{
  font-size: 40px;
  font-family: cursive;
  margin-left: 100px;
}


.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: #e1e1e1;
  color: black;
  padding: 10px 0;
  font-size: 9px;
  justify-content: center;
  text-align: center;
}


.conteudo-sobre{
  position: fixed;
  top: 120px;
  left: 200px;
  height: 1000px;
  max-width: 1200px;
  margin-right: 20px;
  background-color: white;
}

.conteudo-sobre h1 {
  font-size: 60px;
  font-family: cursive;
  margin-left: 50px;
  margin-top: 50px;
}

.conteudo-sobre p {
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
  margin-left: 20px;
  margin-right: 50px;
  padding: 10px;
}

table {
  border-collapse: collapse;
  height: 30%;
  width: 100%; /* Ou defina a largura desejada*/
  margin-left: 300px;
  margin-top: 100px;
}
thead{
  background-color: black;
  font-style: normal;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}

th, td {
  border: 1px solid black; /* Adicione bordas conforme necessário */
  padding: 8px;
  text-align: center; /* Ou centralize o texto conforme necessário */
}


legend {
  font-size: 20px;
  font-family: cursive;
  font-weight: bold;
  margin-left: 50px;

}

fieldset{
  width: 1200px;
  display: flex;
  flex-direction: row;
  margin-right: 50px;
  margin-left: 50px;
}

iframe{
  height: 200px;
  width: 200px;
  justify-content: end;
  margin-right: 20px;

}

fieldset h3{
  margin-right: 50px;
  
}

span a{
  text-decoration: none;
  color: black;
}

span a:hover{
  background-color: orange;
}

form {
  display: grid;
  grid-template-columns: 1fr;

}

label, input {
  display: block;
  margin-left: 50px;
  width: 200px;
}
textarea{
  margin-left: 50px;
}

.button1{
  margin-left: 50px;
  height: 30px;
  width: 70px;
  margin-right: 10px;
}

button{
  height: 30px;
  width: 70px;
}